*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #EDE2F3;
}

.wrap{
    overflow: hidden;
    position: relative;
}

.effect-bg1{
    position: absolute;
    width: 50%;
    z-index: -1;
    top: 10%;
    left: -200px;
    transform: rotate(-95deg);
}

.effect-bg2{
    position: absolute;
    width: 42%;
    z-index: -1;
    top: 38%;
    right: -130px;
}

.effect-bg3{
    position: absolute;
    width: 30%;
    z-index: -1;
    top: 20%;
    right: -40px;
}

.effect-bg4{
    position: absolute;
    width: 40%;
    z-index: -1;
    top: 33%;
    left: -200px;
}

.effect-bg5{
    position: absolute;
    width: 45%;
    z-index: -1;
    top: 60%;
    right: -100px;
    transform: rotate(90deg);
}

.effect-bg6{
    position: absolute;
    width: 40%;
    z-index: -1;
    top: 70%;
    left: -200px;
}

.effect-bg7{
    position: absolute;
    width: 40%;
    z-index: -1;
    top: 83%;
    right: -80px;
}

.effect-bg8{
    position: absolute;
    width: 40%;
    z-index: -1;
    top: 93%;
    left: -120px;
}

section{
    margin-bottom: 100px;
}

.firstview {
    position: relative;
    margin: 0 auto 100px;
    width: 100%;
}

.scrolldown2{
	position:absolute;
	bottom:10px;
	right:10%;
}

/*Scrollテキストの描写*/
.scrolldown2 span{
    /*描画位置*/
	position: absolute;
	left:10px;
	bottom:10px;
    /*テキストの形状*/
	color: #eee;
	font-size: 1.3rem;
    font-family: 'Noto Sans', sans-serif;
	letter-spacing: 0.2em;
	/*縦書き設定*/
	-ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom:0;
    left:-4px;
    /*丸の形状*/
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#f1f1f1;
	animation:
		circlemove 2.0s ease-in-out infinite,
		cirlemovehide 2.0s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove{
      0%{bottom:300px;}
     100%{bottom:-5px;}
 }

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
      0%{opacity:0}
     50%{opacity:1;}
    80%{opacity:0.9;}
	100%{opacity:0;}
 }

/* 線の描写 */
.scrolldown2:after{
	content:"";
    /*描画位置*/
	position: absolute;
	bottom:0;
	left:0;
    /*線の形状*/
	width:2px;
	height: 300px;
	background:#f1f1f1;
}

.video-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    background: rgba(0, 0, 0, 0.3);
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}


h1{
    text-align: center;
    font-size: 36px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    width: 750px;
    padding: 30px 0;
    color: #31294c;
}

.LR{
    position: relative;
    width: 750px;
    margin: 250px auto;
}

.LR:before, .LR:after {
    content: '';
    position: absolute;
    width: 180px;
    height: 70px;
  }

  .LR::before {
    border-left: solid 4px #5756BB;
    top: -20px;
    left: 0;
}

.LR::after {
    border-right: solid 4px #5756BB;
    bottom: -20px;
    right: 0;
}

.TB{
   position: relative;
   width: 750px;
}

.TB:before, .TB:after {
    content: '';
    position: absolute;
    width: 180px;
    height: 70px;
}

.TB::before{
    border-top: solid 4px #5756BB;
    top: 0;
    left: -20px;
}

.TB::after{
    border-bottom: solid 4px #5756BB;
    bottom: 0;
    right: -20px;
}

.step-box{
    margin-bottom: 50px;
}


h2{
    text-align: center;
    font-size: 48px;
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 150px;
    color: #31294c;
}

.gallery{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    /* display: none; */
}

.gallery img{
    width: 60%;
    height: auto;
    margin:0 auto;
}

li{
    list-style: none;
}

.choice-btn{
    width: 65%;
    height: auto;
    margin:0 auto;
}

.choice-btn img{
    width: 75%;
    height: auto;
    margin:0 auto 50px;
}

.choice-btn li{
    position: relative;
}

.choice-btn p{
    position: absolute;
    top: 5%;
    left: 12.5%;
    font-size: 20px;
    font-weight: 700;
    background: #f1f1f1;
    color: #31294c;
    width: 20%;
    text-align: center;
}

.choice-btn li img{
	opacity: 0.4;/*選択されていないものは透過40%*/
}

.choice-btn li.slick-current img{
	opacity: 1;/*選択されているものは透過しない*/
}

.choice-btn .slick-track {
	transform: unset !important;/*画面幅サイズ変更に伴うサムネイル固定*/
}

.step-text{
    display: flex;
    flex-direction: column;
}

.step-text-content{
    display: flex;
    align-items: center;
    position: relative;
    width: 65%;
    min-height: 200px;
    height: 100%;
    background-color: #f1f1f1;
    margin: 30px auto;
    padding: 0 3% 0 6%;
}

.arrow{
	position: relative;
	display: inline-block;
	padding: 0 0 0 16px;
	color: #000;
	vertical-align: middle;
	text-decoration: none;
	font-size: 15px;
}
.arrow::before,
.arrow::after{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
}

.arrow-shape::before{
	left: 50%;
	width: 15px;
	height: 15px;
	border-top: 4px solid #31294c;
	border-right: 4px solid #31294c;
	/* -webkit-transform: rotate(0deg); */
	transform: rotate(135deg);
}

h3{
    font-size: 40px;
    color: #f1f1f1;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    background-color: #5756BB;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-50%);
}

.step-text p{
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    color: #31294c;
    width: 100%;
    margin: 0 auto;
}






.other-container{
    display: flex;
    gap: 150px;
    justify-content: center;
    margin-bottom: 70px;
    flex-wrap: wrap;
}

.other-box a{
    text-decoration: none;
    color: #000;
}


.other-img img{
    width: 290px;
}

.other-img:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h4{
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    color: #31294c;
    margin: 20px 0;
}

.other-box p{
    color: #31294c;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}

.ToTop{
    display: flex;
    justify-content: center;
}

.ToTop a{
    font-family: 'Noto Sans', sans-serif;
    display: block;
    text-decoration: none;
    color: #f1f1f1;
    background-color: #5756BB;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    width: 215px;
    /* padding: 5px 10px; */
}

footer{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px;
    color: #31294c;
}


@media all and (max-width:770px){
    section{
        margin-bottom: 50px;
    }

    h3{
        font-size: 20px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .choice-btn p{
        font-size: 18px;
    }

    .ToTop a{
        font-size: 16px;
        width: 170px;
        height: 50px;
        line-height: 50px;
    }




}

@media all and (max-width:480px){
    h1{
        font-size: 16px;
    }

    h2{
        font-size: 24px;
        margin-bottom: 40px;
    }
    
    h3{
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .gallery img{
        width: 85%;
        
    }

    .choice-btn{
        width: 85%;
    }

    .choice-btn img{
        width: 90%;
    }

    .choice-btn p{
        font-size: 14px;
        left: 5.5px;
    }


    .step-text-content{
        width: 85%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .step-text p{
        font-size: 12px;
    }

    .other-container{
        gap: 40px;
    }

    h4{
        font-size: 12px;
    }

    .other-box p{
        font-size: 12px;
    }

    .ToTop a{
        font-size: 12px;
        width: 150px;
        height: 50px;
        line-height: 50px;
    }

    footer{
        font-size: 12px;
    }


}