*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #EDE2F3;
}

.wrap{
    overflow: hidden;
    position: relative;
}

.bg1{
    position: absolute;
    width: 55%;
    z-index: -1;
    top: 60%;
    left: -250px;
    transform: rotate(-95deg);
}

.bg2{
    position: absolute;
    width: 50%;
    z-index: -1;
    top: 25%;
    right: -150px;
    transform: rotate(-95deg);
}

section{
    margin-bottom: 120px;
}

.firstview {
    position: relative;
}

.scrolldown2{
	position:absolute;
	bottom:10px;
	right:10%;
}

/*Scrollテキストの描写*/
.scrolldown2 span{
    /*描画位置*/
	position: absolute;
	left:10px;
	bottom:10px;
    /*テキストの形状*/
	color: #eee;
	font-size: 1.3rem;
    font-family: 'Noto Sans', sans-serif;
	letter-spacing: 0.2em;
	/*縦書き設定*/
	-ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom:0;
    left:-4px;
    /*丸の形状*/
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#f1f1f1;
	animation:
		circlemove 2.0s ease-in-out infinite,
		cirlemovehide 2.0s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove{
      0%{bottom:300px;}
     100%{bottom:-5px;}
 }

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
      0%{opacity:0}
     50%{opacity:1;}
    80%{opacity:0.9;}
	100%{opacity:0;}
 }

/* 線の描写 */
.scrolldown2:after{
	content:"";
    /*描画位置*/
	position: absolute;
	bottom:0;
	left:0;
    /*線の形状*/
	width:2px;
	height: 300px;
	background:#f1f1f1;
}

.video-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

h2{
    text-align: center;
    font-size: 48px;
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 50px;
    color: #31294c;
}

.about-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-box img{
    width: 500px;
    height: 280px;
}

.about-text{
    align-items: center;
    width: 500px;
}

.about-text p{
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 35px;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 35px;
    color: #31294c;
}

.content-container{
    display: flex;
    gap: 100px;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #000;
}


.contents-img img{
    width: 290px;
}

.contents-img:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h3{
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    color: #31294c;
    margin: 20px 0;
}

.content-box p{
    color: #31294c;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}

.creator{
    margin: 10px 10% 0;
    padding: 50px 10%;
    background: #f1f1f1;
    position: relative;
    z-index: 1;
}

.creator-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

h4{
    font-size: 36px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 50px;
    color: #31294c;
}

.creator-box img{
   width: 30%;
}

.creator-text p{
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 45px;
    letter-spacing: 2px;
    text-align: left;
    margin-left: 35px;
    color: #31294c;
}

span{
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
}

footer{
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px;
    color: #31294c;
}


